body{
    background-color: #61DADA;
}

.header-sub{
    font-size: 2rem;
    line-height: .6;
}

.home-content p{
    font-size: 1.8rem;
    line-height: 1;
}

.first-color{ background-color: #61DADA !important; }